# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Create a Jupyter Notebook
* Insert code and markdown cells
* Share your notebook through GitHub
* Explore Data Science Libraries
* Explore Data Science opensource tools
* Explor Data Scince languagues

Some of the popular languages that Data Scientists use are:
1. Python
2. R and
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. seaborn

  |# Data Science Tools|
  |-------------------|
  |Jupitor Notebook   |
  |R Studio           |
  |Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Werku Birhanu